/* add css */
html {
	font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, 'Gentium Book Plus', serif; /* adds system fonts in the order so if they are not installed on a machine it uses defaults*/
    line-height: 1.15;
}

h1 {font-size: 3.6rem;}
h2 {font-size: 2.8rem;}
h3 {font-size: 2.4rem;}
h4 {font-size: 2rem;}
h5 {font-size: 1.8rem;}
h6 {font-size: 1.6rem;}

h1, h2, h3, h4, h5, h6 {font-weight: 600;}

img {
	width: 100%;
	height: auto;
}

svg {
  height: 100%;
  width: 100%;
  fill: currentColor;
  pointer-events: none;
}


/* Document Styles */

body {
  
  background-color: #e32020; /*-- background color for outermost container  --*/
  padding: 0rem; /*-- padding is shorthand for -top, -right, -bottom, and -left --*/
  /*--
  margin: 2rem; use this to show the difference between margin and padding --*/
  border: 3px dotted green; /*-- border shorthand property --*/
  color: #333; /*-- text color is inherited by child elements --*/

  background-image: linear-gradient(rgb(128, 98, 0),rgb(128, 47, 0));
}

/* main {
  background-color: #ffffff;
} */
/* nav ul { */
nav {
  background-color: #e32020;
  color: black; /*text color*/
  list-style: none;
  padding: 1em;
  border: 2px dashed blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 0;
}

nav img{
  height: 60px; 
  /* because in the navigation bar we are concerned about the height we fix that */
  width: auto;
  /* we keep the other dimension auto */
}
nav div{
  display: flex;
}
.logo {
  align-items: center;
  gap: 2rem;
}
.links {
  gap: 4rem;
}

nav, footer {
  background-color: #ffffff;
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #D0D0D0;
}

/* nav ul {
  width: 400px;
  list-style: none;
  padding: 1em;
  border: 2px dashed blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 0;
} */
/*-- Hero Unit Styles--*/
/* main{
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
} */
header {
  text-align: center;
  /* width: 510px; */ /*this messes up every thing*/
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 2px dashed gray;
  display: flex;
  flex-direction: row;
}
header article {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 auto;
  display: flex;
  flex-direction: row;
}
.small {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  color: #666;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
p {
  margin-bottom: .67em;
}

/*-- Main Menu Styles--*/
h2 {
    font-size: 2.5rem; /*-- by default, headings are larger, but this makes them a little bigger still --*/
    font-weight: 900; /*-- by default headings are bold, but this makes them the boldest--*/
    color: #555; /*-- makes heading text a lighter color gray --*/
    margin-top: 1rem; /*-- adds space outside the border on the top--*/
    margin-bottom: 1rem; /*-- adds space outside the border on the bottom --*/
    /*--
    margin: 1rem auto;    a shorter way to write the previous two rules--*/
}


/*-- Main Menu Styles--*/
article {
  font-size: 2.4rem; /*-- by default, headings are larger, but this makes them a little bigger still --*/
  font-weight: 600; /*-- by default headings are bold, but this makes them the boldest--*/
  color: #555; /*-- makes heading text a lighter color gray --*/
  margin-top: 1rem; /*-- adds space outside the border on the top--*/
  margin-bottom: 1rem; /*-- adds space outside the border on the bottom --*/
  /*--
  margin: 1rem auto;    a shorter way to write the previous two rules--*/
  max-width: 70vw;
  border: 2px cyan;
  margin: auto;
}

.persian {/*--common columns styles --*/
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background:  #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed blue;
  /*-- change styles below this line --*/
  display: flex; /*-- sets the display mode--*/
  flex-direction: row; /*-- sets direction row or column --*/
  justify-content: space-between; /*-- aligns content on main axis --*/
  align-items: center; /*-- aligns content on secondary axis --*/
  flex-wrap: nowrap; /*-- determines whether content wraps or not --*/
  gap: 3rem;
}
/* .persian img{
  max-height: 100%;
  border: 1rem red;
} */
.persian-pic {/*--flex container styles --*/
  /* max-height: 600px ; */
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background: #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed rgb(255, 0, 217);
  /*-- change styles below this line --*/

}
.persian-txt {/*--flex container styles --*/
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background: #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed rgb(255, 0, 217);
  /*-- change styles below this line --*/

}

.parent {/*--flex container styles --*/
    margin-bottom: 2rem;
    /*-- height: 1000px; sets height for demo purposes --*/
    background: #f2da7db1; /*-- sets background to light gray --*/
    padding: 1rem; /*-- adds 1em of padding all around --*/
    border: 2px dashed blue;
    /*-- change styles below this line --*/
    display: flex; /*-- sets the display mode--*/
    flex-direction: row; /*-- sets direction row or column --*/
    justify-content: space-between; /*-- aligns content on main axis --*/
    align-items: center; /*-- aligns content on secondary axis --*/
    flex-wrap: nowrap; /*-- determines whether content wraps or not --*/
}
.series {/*--flex container styles --*/
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background: #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed blue;
  /*-- change styles below this line --*/
  display: flex; /*-- sets the display mode--*/
  flex-direction: column; /*-- sets direction row or column --*/
  justify-content: space-between; /*-- aligns content on main axis --*/
  align-items: center; /*-- aligns content on secondary axis --*/
  flex-wrap: nowrap; /*-- determines whether content wraps or not --*/
}


.hero-images {/*--flex container styles --*/
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background: #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed rgb(255, 0, 217);
  /*-- change styles below this line --*/
  display: flex; /*-- sets the display mode--*/
  flex-direction: row; /*-- sets direction row or column --*/
  justify-content: space-between; /*-- aligns content on main axis --*/
  align-items: center; /*-- aligns content on secondary axis --*/
  flex-wrap: nowrap; /*-- determines whether content wraps or not --*/
}

/*.children {/*--common columns styles --*/
    /* border: 2px solid red;
    padding: 1rem; */
    /*text-align: center; /*-- Aligns only the text --*/
    /* background-color:lavender;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto; */
  /*--flex: 0 1 auto; /*-- shorthand for above 3 properties, use this! --*/
    /* order: 0; */
/* } */


.vegetables {/*--common columns styles --*/
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background:  #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed blue;
  /*-- change styles below this line --*/
  display: flex; /*-- sets the display mode--*/
  flex-direction: column; /*-- sets direction row or column --*/
  justify-content: space-between; /*-- aligns content on main axis --*/
  align-items: center; /*-- aligns content on secondary axis --*/
  flex-wrap: nowrap; /*-- determines whether content wraps or not --*/
}
.vegetables-pic {/*--flex container styles --*/
  /* max-height: 600px ; */
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background: #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed rgb(255, 0, 217);
  /*-- change styles below this line --*/
  width: 50vw

}
.vegetables-txt {/*--flex container styles --*/
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background: #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed rgb(255, 0, 217);
  /*-- change styles below this line --*/
  max-width: 50vw;

}

.legumes {/*--common columns styles --*/
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background:  #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed blue;
  /*-- change styles below this line --*/
  display: flex; /*-- sets the display mode--*/
  flex-direction: row; /*-- sets direction row or column --*/
  justify-content: space-between; /*-- aligns content on main axis --*/
  align-items: center; /*-- aligns content on secondary axis --*/
  flex-wrap: nowrap; /*-- determines whether content wraps or not --*/
}
.legumes-pic {/*--flex container styles --*/
  /* max-height: 600px ; */
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background: #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed rgb(255, 0, 217);
  /*-- change styles below this line --*/
  height: 500 px;

}
.legumes-txt {/*--flex container styles --*/
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background: #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed rgb(255, 0, 217);
  /*-- change styles below this line --*/
  max-width: 40vw;

}

.nuts {/*--common columns styles --*/
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background:  #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed blue;
  /*-- change styles below this line --*/
  display: flex; /*-- sets the display mode--*/
  flex-direction: row; /*-- sets direction row or column --*/
  justify-content: space-between; /*-- aligns content on main axis --*/
  align-items: center; /*-- aligns content on secondary axis --*/
  flex-wrap: nowrap; /*-- determines whether content wraps or not --*/
}
.nuts-pic {/*--flex container styles --*/
  /* max-height: 600px ; */
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background: #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed rgb(255, 0, 217);
  /*-- change styles below this line --*/
  width: 400;

}
.nuts-txt {/*--flex container styles --*/
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background: #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed rgb(255, 0, 217);
  /*-- change styles below this line --*/
  max-width: 40vw;

}

.meat {/*--common columns styles --*/
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background:  #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed blue;
  /*-- change styles below this line --*/
  display: flex; /*-- sets the display mode--*/
  flex-direction: column; /*-- sets direction row or column --*/
  justify-content: space-between; /*-- aligns content on main axis --*/
  align-items: center; /*-- aligns content on secondary axis --*/
  flex-wrap: nowrap; /*-- determines whether content wraps or not --*/
}
.meat-pic {/*--flex container styles --*/
  /* max-height: 600px ; */
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background: #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed rgb(255, 0, 217);
  /*-- change styles below this line --*/
  width: 50vw

}
.meat-txt {/*--flex container styles --*/
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background: #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed rgb(255, 0, 217);
  /*-- change styles below this line --*/
  max-width: 50vw;

}

.header-copy {/*--flex container styles --*/
  margin-bottom: 2rem;
  /*-- height: 1000px; sets height for demo purposes --*/
  background: #f2da7db1; /*-- sets background to light gray --*/
  padding: 1rem; /*-- adds 1em of padding all around --*/
  border: 2px dashed blue;
  /*-- change styles below this line --*/
  display: flex; /*-- sets the display mode--*/
  flex-direction: row; /*-- sets direction row or column --*/
  justify-content: space-between; /*-- aligns content on main axis --*/
  align-items: center; /*-- aligns content on secondary axis --*/
  flex-wrap: nowrap; /*-- determines whether content wraps or not --*/
}

/* @media screen and (max-width: 768px) {
.series {
  flex-direction: column;
}
} */

/* Media queries */
@media screen and (max-width: 768px){
  nav{
    flex-direction: column;
    gap: 2rem;
  }
  
}