/* add css */
html {
	font-size: 62.5%;
}

body {
    background-color: #DADADA; /*-- background color for outermost container  --*/
    padding: 2rem; /*-- padding is shorthand for -top, -right, -bottom, and -left --*/
    /*--
    margin: 2rem; use this to show the difference between margin and padding --*/
    border: 3px dotted green; /*-- border shorthand property --*/
    color: #333; /*-- text color is inherited by child elements --*/
    font-size: 1.6rem;
    font-family: 'Gentium Book Plus', serif;
}

img {
	width: 100%;
	height: auto;
}
main {
  background-color: #ffffff;
}
/* nav ul { */
nav {
  list-style: none;
  padding: 1em;
  border: 2px dashed blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 0;
}
nav ul {
  width: 400px;
  list-style: none;
  padding: 1em;
  border: 2px dashed blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 0;
}
/*-- Hero Unit Styles--*/
header {
  text-align: center;
  /* width: 510px; */ /*this messes up every thing*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 2px dashed gray;
  display: flex;
  flex-direction: column;
}
header h1 {
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  padding: 0 auto;
}
.small {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  color: #666;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}
p {
  margin-bottom: .67em;
}
nav, footer {
  background-color: #ffffff;
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #D0D0D0;
}
/*-- Main Menu Styles--*/
h2 {
    font-size: 2.5rem; /*-- by default, headings are larger, but this makes them a little bigger still --*/
    font-weight: 900; /*-- by default headings are bold, but this makes them the boldest--*/
    color: #555; /*-- makes heading text a lighter color gray --*/
    margin-top: 1rem; /*-- adds space outside the border on the top--*/
    margin-bottom: 1rem; /*-- adds space outside the border on the bottom --*/
    /*--
    margin: 1rem auto;    a shorter way to write the previous two rules--*/
}

.parent {/*--flex container styles --*/
    margin-bottom: 2rem;
    height: 1000px; /*-- sets height for demo purposes --*/
    background: #FAFAFA; /*-- sets background to light gray --*/
    padding: 1rem; /*-- adds 1em of padding all around --*/
    border: 2px dashed blue;
    /*-- change styles below this line --*/
    display: flex; /*-- sets the display mode--*/
    flex-direction: row; /*-- sets direction row or column --*/
    justify-content: space-between; /*-- aligns content on main axis --*/
    align-items: center; /*-- aligns content on secondary axis --*/
    flex-wrap: nowrap; /*-- determines whether content wraps or not --*/
}
.children {/*--common columns styles --*/
    border: 2px solid red;
    padding: 1rem;
    text-align: center; /*-- Aligns only the text --*/
    background-color:lavender;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
  /*--flex: 0 1 auto; /*-- shorthand for above 3 properties, use this! --*/
    order: 0;
}


